<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Hello {name ?: "Qute"}</title>
    <style>
        body {
            background-color: #000;
            color: #fff;
        }
        h1 {
            color: #4695EB;
            font-size: 6vw;
        }

        h1 b {
            color: #be9100;
        }

        p {
            font-size: 2vw;
        }
    </style>
</head>
<body>
<form action="/calculator" method="POST" name="todoForm" enctype="application/x-www-form-urlencoded">
    <div class="col-sm-3 my-1">
        <label class="sr-only" for="number1">Número 1</label>
        <input type="text" name="number1" class="form-control" id="number1" placeholder="Insira o primeiro número" required />
        <br/>
        <label class="sr-only" for="number2">Número 2</label>
        <input type="text" name="number2" class="form-control" id="number2" placeholder="Insira o segundo número" required />
        <br/>
        <div class="col-auto my-1">
        <select class="custom-select"  name="operation">
            <option disabled value="">Priority</option>
            {#for operation in arithmeticOperations}
                <option value="{operation}">{operation}</option>
            {/for}
        </select>
    </div>
      </div>

      <button type="submit" class="btn btn-primary">
        Calcular
      </button>
</form>

<p>Crie sua página web utilizando Quarkus RESTEasy & Qute</p>
</body>
</html>
