html {
    height: 100%;
}

body {
    font-family: Roboto,ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI","Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background: hsla(265, 40%, 71%, 1);
    background: linear-gradient(135deg, hsla(265, 40%, 71%, 1) 19%, hsla(331, 100%, 49%, 1) 99%);
    background: -moz-linear-gradient(135deg, hsla(265, 40%, 71%, 1) 19%, hsla(331, 100%, 49%, 1) 99%);
    background: -webkit-linear-gradient(135deg, hsla(265, 40%, 71%, 1) 19%, hsla(331, 100%, 49%, 1) 99%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#b199d3", endColorstr="#fc007a", GradientType=1 );
    height: 100%;
    margin: 0;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.logo-course {
    position: absolute;
    top: 112px;
    margin-left: 22%;
    width: 120px;
    height: 120px;
}

.content {
    width: 400px;
    height: 380px;
    border-radius: 12px;
    padding: 24px;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    background-color: aliceblue;
}

.input-calcuate {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.inputs {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.inputs label {
    color: #800079;
    margin-bottom: 4px;
    font-size: 18px;
}

.inputs .input-content {
    height: 36px;
    font-size: 16px;
    border-radius: 8px;
    border-width: 0.5px;
    border-color: #969696;
    margin-top: 12px;
    padding: 4px 8px;
}

.inputs input:focus {
    outline: none;
    box-shadow: 0px 0px 5px #800079;
    border:1px solid #800079;
}

.btn-calculate {
    width: 80%;
    margin-top: 42px;
    align-items: center;
    background-color: #fff;
    border: 1px solid #969696;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    height: 48px;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    transition: all .3s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.btn-calculate:focus {
  color: #6e20fd;
}

.btn-calculate:hover {
  border-color: #de52fa;
  color: #7c218f;
  fill: #de52fa;
}

.btn-calculate:active {
  border-color: #6e20fd;
  color: #6e20fd;
  fill: #6e20fd;
}

.bottom-text {
    height: 260px;
    color: #fff4fd;
    display: flex;
    align-items: end;
    font-size: 16px;
}

.result {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    margin-bottom: 23px;
    color: #79147c;
}

.result p {
    font-size: 34px;
}