<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Olá {name ?: "Qute"}</title>
    <link rel="stylesheet" href="page.css">
</head>

<body>
    <main class="container">
        <img src="eng-logo.gif" class="logo-course" />
        <form class="content" action="/calculator" method="GET" name="todoForm">
            <div class="input-calcuate">
                <div class="result">
                    <h2>Calculadora <br />do<br /> <b>{name ?: "Qute"}</b></h2>
                    <p>Resultado é <b>{result.formatSign}</b></p>
                </div>
                <button class="btn-calculate" type="submit">
                    Voltar
                </button>
            </div>
        </form>
        <div class="bottom-text">
            <p>Página criada utilizando Quarkus RESTEasy & Qute🔥</p>
        </div>
    </main>
</body>

</html>