<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Calculadora Bala</title>
    <link rel="stylesheet" href="page.css" />
  </head>

  <body>
    <main class="container">
      <div class="calculator">
        <img src="eng-logo.gif" class="logo-course" />
        <form
          class="content"
          action="/calculator"
          method="POST"
          name="todoForm"
          enctype="application/x-www-form-urlencoded"
        >
          <div class="input-calcuate">
            <div class="inputs">
              <label for="number1">Insira o primeiro número</label>
              <input
                class="input-content"
                type="number"
                name="firstNumber"
                class="form-control"
                id="number1"
                placeholder="Primeiro número"
                required
              />
              <br />
              <label for="number2">Insira o segundo número</label>
              <input
                class="input-content"
                type="number"
                name="secondNumber"
                class="form-control"
                id="number2"
                placeholder="Segundo número"
                required
              />
              <br />
            </div>
            <div class="inputs">
              <select class="input-content" name="operation">
                <option disabled value="">Operação</option>
                {#for operation in dataDTO.arithmeticOperations}
                <option value="{operation}">{operation}</option>
                {/for}
              </select>
            </div>
            <button class="btn-calculate" type="submit">Calcular</button>
          </div>
        </form>
      </div>
      <div class="extra-challenges">
        <h1>Desafios extras🔥</h1>
        <h3>1º Desafio - Busca de dados em serviços externos</h3>
        <p>Texto retorno: <b>{dataDTO.externalText}</b></p>
        <h3>2º Desafio - Salvar em base de dados os calculos realizados</h3>
        <table>
          <tr class="border">
            <th>Id</th>
            <th>Valor</th>
          </tr>
          {#for result in dataDTO.results}
          <tr>
            <td>{result.getId}</td>
            <td>{result.getOperation}</td>
          </tr>
          {/for}
        </table>
      </div>
    </main>
    <div class="bottom-text">
      <p>Página criada utilizando Quarkus RESTEasy & Qute🔥</p>
    </div>
  </body>
</html>
